<h1 class="mb-4" *ngIf="peli">{{ peli.title }}</h1>

<div class="row" *ngIf="peli">
    <div class="col-md-5">
        <img class=" img-thumbnail img-fluid" [src]="peli | noimage:true" [alt]="peli.original_title">
    </div>
    <div class="col-md-7">
        <h3>Sinopsis</h3>
        <hr>
        <p class="text-justify">{{ peli.overview }}</p>
        <h4>Frase célebre</h4>
        <p>{{ peli.tagline }}</p>
        <p>
            Popularidad: <span class="badge badge-primary">{{peli.popularity | number:'.2-2'}}</span>
            <br>
            Voto promedio: <span class="badge badge-primary">{{ peli.vote_average }}</span>
        </p>
        <button (click)="volver()" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>
