<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <input type="text"
                   class="form-control"
                   name="buscar"
                   [(ngModel)]="buscar"
                   (keyup.enter)="buscarPelicula(buscar)"
                   placeholder="Buscar película"
                   #termino>
        </div>
    </div>
</div>

<div class="card-columns mt-1" *ngIf="loading">
    <div class="card" *ngFor="let peli of peliculas">
      <img [src]="peli | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ peli.original_title }}</h5>
        <p class="card-text">{{ peli.overview | slice:0:250}}</p>
        <button [routerLink]="['/pelicula', peli.id, 'search', buscar]" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
      </div>
    </div>
</div>
